{% extends 'Navbar.html' %}
{% load static %}
<html>

<{% block body %}
<div>
 <h1>This is Review Details Page</h1>
<div class="row" align="center">
  <div class="col-sm-4">
    <div class="card border-success">
     <img class="card-img-top" src="{% static 'images/8.jpg' %}" alt="Card image cap" width="450" height="300">
      <div class="card-body">
        <h5 class="card-title">Rent this Car with Special Rates</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <center><a href="#" class="btn btn-primary">RENT NOW</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
     <img class="card-img-top" src="{% static 'images/11.png' %}" alt="Card image cap" width="450" height="300">
      <div class="card-body">
        <h5 class="card-title">Rent this Car with Special Rates</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <center><a href="#" class="btn btn-primary">RENT NOW</a></center>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card">
     <img class="card-img-top" src="{% static 'images/12.jpg' %}" alt="Card image cap" width="450" height="300">
      <div class="card-body">
        <h5 class="card-title">Rent this Car with Special Rates</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <center><a href="#" class="btn btn-primary">RENT NOW</a></center>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
</html>